### Assignment 3 (2 scores):

- Use a Machine Learning library (Scikit Learn or Skorch) to implement and evaluate the Logistic Regression on the [Predict students’ dropout and academic success](https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success) dataset.
- Use a Machine Learning library (Scikit Learn or Skorch) to implement and evaluate the Softmax Regression on the [Predict students’ dropout and academic success](https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success) dataset.

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.multiclass import OneVsOneClassifier

In [2]:
data = pd.read_csv('data.csv', sep=';')
data

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,9773,1,1,125.0,1,1,1,...,0,6,8,5,12.666667,0,15.5,2.8,-4.06,Graduate
4420,1,1,2,9773,1,1,120.0,105,1,1,...,0,6,6,2,11.000000,0,11.1,0.6,2.02,Dropout
4421,1,1,1,9500,1,1,154.0,1,37,37,...,0,8,9,1,13.500000,0,13.9,-0.3,0.79,Dropout
4422,1,1,1,9147,1,1,180.0,1,37,37,...,0,5,6,5,12.000000,0,9.4,-0.8,-3.12,Graduate
4423,1,10,1,9773,1,1,152.0,22,38,37,...,0,6,6,6,13.000000,0,12.7,3.7,-1.70,Graduate

### Normalization

In [3]:
print(data.select_dtypes(include=['float64']).columns)

Index(['Previous qualification (grade)', 'Admission grade',
       'Curricular units 1st sem (grade)', 'Curricular units 2nd sem (grade)',
       'Unemployment rate', 'Inflation rate', 'GDP'],
      dtype='object')

In [4]:
scale = StandardScaler()
col_scale = data.select_dtypes(include=['float64']).columns
data[col_scale] = scale.fit_transform(data[col_scale])
data.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,-0.804841,1,19,12,...,0,0,0,0,-1.963489,0,-0.287638,0.124386,0.765761,Dropout
1,1,15,1,9254,1,1,2.076819,1,1,3,...,0,6,6,6,0.659562,0,0.876222,-1.105222,0.347199,Graduate
2,1,1,5,9070,1,1,-0.804841,1,37,37,...,0,6,0,0,-1.963489,0,-0.287638,0.124386,0.765761,Dropout
3,1,17,2,9773,1,1,-0.804841,1,38,37,...,0,6,10,5,0.416450,0,-0.813253,-1.466871,-1.375511,Graduate
4,2,39,1,8014,0,1,-2.473171,1,37,38,...,0,6,6,6,0.531608,0,0.876222,-1.105222,0.347199,Graduate

### Seperation train/test

In [5]:
X = data.drop(columns=['Target'], axis=1)
y = data['Target']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

### Logistic Regression

In [6]:
# encode cột mục tiêu Target
def encode_target_lr(value:str) -> int:
    if value == 'Enrolled' or value == 'Dropout':
        return 0
    else:
        return 1
y_train_lr = y_train.apply(encode_target_lr)
y_test_lr = y_test.apply(encode_target_lr)

In [7]:
logistic_reg = OneVsOneClassifier(LogisticRegression(max_iter=500))
logistic_reg.fit(X_train, y_train_lr)
y_pred_lr = logistic_reg.predict(X_test)

c:\Users\Nguyen Tram\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 500 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=500).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [8]:
accuracy_lr = accuracy_score(y_test_lr, y_pred_lr)
print('accuracy of Logistic Regression: ', accuracy_lr)

accuracy of Logistic Regression:  0.8158192090395481

### Softmax Regression

In [ ]:
# encode cột mục tiêu Target
def encode_target_sr(value:str) -> int:
    if value == 'Enrolled':
        return 0
    elif value == 'Dropout':
        return 1
    else:
        return 2
y_train_sr = y_train.apply(encode_target_sr)
y_test_sr = y_test.apply(encode_target_sr)

In [10]:
sofmax_reg = LogisticRegression(solver='saga', max_iter=1000)
sofmax_reg.fit(X_train, y_train_sr)
y_pred_sr = sofmax_reg.predict(X_test)

c:\Users\Nguyen Tram\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_sag.py:348: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

In [11]:
accuracy_sr = accuracy_score(y_test_sr, y_pred_sr)
print('accuracy of Softmax regression: ', accuracy_sr)

accuracy of Softmax regression:  0.63954802259887